In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv('data\HCP-Dimension.csv')

In [9]:
df.head()

,DoctorID,Doctor first name,Doctor last name,Doctor middle name,Primary specialty code,Primary specialty description,Secondary specialty code,Secondary specilaty description,Doctor state,Doctor state code,Doctor zip
0,1270575.0,Hzzzz,Heee,Vdddddd,HEM,HEMATOLOGY (INTERNAL MEDICINE),ON,MEDICAL ONCOLOGY,ARIZONA,AZ,85006.0
1,1423757.0,Rkkkk,Syyyyyy,Jjjjj,D,DERMATOLOGY,FM,FAMILY MEDICINE,PENNSYLVANIA,PA,19609.0
2,2030384.0,Aqqq,Qbbbbb,Jyyy,ON,MEDICAL ONCOLOGY,IM,INTERNAL MEDICINE,TEXAS,TX,75390.0
3,1573852.0,Ikkkkk,Nuuuu,Ewwww,IM,INTERNAL MEDICINE,NaN,NaN,FLORIDA,FL,32308.0
4,1480166.0,Maaaaa,Uuuuuuuu,Cpp,FM,FAMILY MEDICINE,NaN,NaN,WASHINGTON,WA,98370.0

In [10]:
print(df.columns)

Index([' DoctorID', ' Doctor first name', ' Doctor last name',
       ' Doctor middle name', 'Primary  specialty code',
       'Primary  specialty description', 'Secondary specialty code',
       'Secondary specilaty description', ' Doctor state',
       ' Doctor state code', ' Doctor zip'],
      dtype='object')

In [36]:
# print(df[' DoctorID'].nunique())
# print(df[' DoctorID'].unique())
# df.drop_duplicates(subset=[' DoctorID'], keep='first')

In [37]:
print(df[' DoctorID'].nunique())

9994

In [49]:
# df.describe

In [38]:
df.drop_duplicates(subset=[' DoctorID'])

,DoctorID,Doctor first name,Doctor last name,Doctor middle name,Primary specialty code,Primary specialty description,Secondary specialty code,Secondary specilaty description,Doctor state,Doctor state code,Doctor zip
0,1270575.0,Hzzzz,Heee,Vdddddd,HEM,HEMATOLOGY (INTERNAL MEDICINE),ON,MEDICAL ONCOLOGY,ARIZONA,AZ,85006.0
1,1423757.0,Rkkkk,Syyyyyy,Jjjjj,D,DERMATOLOGY,FM,FAMILY MEDICINE,PENNSYLVANIA,PA,19609.0
2,2030384.0,Aqqq,Qbbbbb,Jyyy,ON,MEDICAL ONCOLOGY,IM,INTERNAL MEDICINE,TEXAS,TX,75390.0
3,1573852.0,Ikkkkk,Nuuuu,Ewwww,IM,INTERNAL MEDICINE,NaN,NaN,FLORIDA,FL,32308.0
4,1480166.0,Maaaaa,Uuuuuuuu,Cpp,FM,FAMILY MEDICINE,NaN,NaN,WASHINGTON,WA,98370.0
...,...,...,...,...,...,...,...,...,...,...,...
9996,3175192.0,Rvvv,Eiiii,,SW,SOCIAL WORK,NaN,NaN,PENNSYLVANIA,PA,17822.0
9997,1683030.0,Taaaaaa,Jaaaaaaaa,Sccccc,NaN,NaN,NaN,NaN,CALIFORNIA,CA,92126.0
9998,3248009.0,Hmmmmmmm,Ixxxxxxxx,F,FM,FAMILY MEDICINE,FP,FAMILY PRACTICE,CONNECTICUT,CT,6416.0
9999,4073041.0,Ujjjjjj,Duuu,Ztttt,NaN,NaN,NaN,NaN,FLORIDA,FL,32967.0
10000,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# df.describe()
# Check for duplicate rows
duplicates = df.duplicated()

# Print the duplicate rows
print(df[duplicates])

Empty DataFrame
Columns: [ DoctorID,  Doctor first name,  Doctor last name,  Doctor middle name, Primary  specialty code, Primary  specialty description, Secondary specialty code, Secondary specilaty description,  Doctor state,  Doctor state code,  Doctor zip]
Index: []

In [63]:
df.drop([ 'Primary  specialty code'],axis=1,inplace=True)

In [53]:
df.head()

,DoctorID,Primary specialty code,Primary specialty description,Secondary specialty code,Secondary specilaty description,Doctor state,Doctor state code,Doctor zip
0,1270575.0,HEM,HEMATOLOGY (INTERNAL MEDICINE),ON,MEDICAL ONCOLOGY,ARIZONA,AZ,85006.0
1,1423757.0,D,DERMATOLOGY,FM,FAMILY MEDICINE,PENNSYLVANIA,PA,19609.0
2,2030384.0,ON,MEDICAL ONCOLOGY,IM,INTERNAL MEDICINE,TEXAS,TX,75390.0
3,1573852.0,IM,INTERNAL MEDICINE,NaN,NaN,FLORIDA,FL,32308.0
4,1480166.0,FM,FAMILY MEDICINE,NaN,NaN,WASHINGTON,WA,98370.0

In [64]:
df.dropna(subset=["Primary  specialty code"])

KeyError: ['Primary  specialty code']

In [66]:
df.columns

Index([' DoctorID', 'Primary  specialty description',
       'Secondary specialty code', 'Secondary specilaty description',
       ' Doctor state', ' Doctor state code', ' Doctor zip'],
      dtype='object')